<!DOCTYPE html>
<html lang="en">

<head>
    <meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="./images/logo2.png" />
    <!-- Latest compiled and minified CSS -->
    <title>DSC RIT</title>
    <meta charset=utf-8>

    <meta name=description content="DSC RIT Bangalore, Ramaiah Institute of Technology">
    <meta http-equiv=content-type content="text/html;charset=UTF-8">

    <style>
        .nav-pills .nav-link.active,
        .nav-pills .show>.nav-link {
            color: #fff;
            background-color: #198efc;
        }
    </style>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="10" style="background: #fff; font-family: 'Open Sans', sans-serif;">
    <div class="jumbotron-fluid" style="background-color: #198efc; height: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="content">
                        <br>
                        <br>
                        <h1 style="font-size: 180px"><span style="color:#fff">DSC</span><span style="color:#111"> RIT</span></h1>
                        <h1 style="color:#fff" class="typereffect">Student Internships | Projects | Hackathons | Makeathons | Contests | Workshops</h1>
                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="navbar">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-0">
            <a class="brand-logo hide-on-med-and-down" id="logo-container" href="#" target="_self">
                <img src="./images/DSC_badge_Color.svg" alt="logo" width="55" height="60" style="margin-right: 4vh"></a>
            <a class="navbar-brand" href="#"><span style="color:#198efc;font-size: 20px; font-weight: 70">Developer
            Student Club</span></a> &nbsp;
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" data-toggle="collapse" data-target=".navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto nav-pills">
                    <li class="nav-item">
                        <a class="nav-link hvr-fade py-2 px-3" href="#home" id="ishank" style="color:white">Home<span
                                class="sr-only">(current)</span></a>
                    </li> &nbsp;
                    <li class="nav-item active">
                        <a class="nav-link hvr-fade py-2 px-3" href="#aboutUs" style="color:white">About Us<span
                                class="sr-only">(current)</span></a>
                    </li> &nbsp;
                    <li class="nav-item active">
                        <a class="nav-link hvr-fade py-2 px-3 " href="/events" style="color:white">Events</a>
                    </li> &nbsp;
                    <li class="nav-item active">
                        <a class="nav-link hvr-fade py-2 px-3 " style="color: white" href="/team">Team</a>
                    </li> &nbsp;
                    <li class="nav-item active">
                        <a class="nav-link hvr-fade py-2 px-3 " style="color: white " href="#contactUs">Contact Us</a>
                    </li>
            </div>
        </nav>
    </div>
    <div id="home">
        <section id="aboutUs">
            <div class=" -grey " id="second" class="section scrollspy" style="margin-bottom: 0; text-align: center; padding-top:40px;">
                <br>

                <div class="row" id="aboutus">
                    <div class="container"> <i style="font-size:40px" class="material-icons">school</i>
                        <br>
                        <h5>About DSC</h5>
                        <br>
                        <div class="container" style="text-align: justify;font-size:16px">
                            Developer Student Clubs (DSC) is a Google Developers program for university students to learn new-age technical skills. Developer Student Clubs, Ramaiah institute of technology was founded in 2012 and since then our mission has been to impart people with
                            required computer science skills and be in sync with the latest technology and trends. As a part of DSC, we organize various hackathons, workshops, tech-events round the year. DSC, Ramaiah Institute of Technology has conducted
                            around 50 workshops with 10+ hackathons till date. We were also featured in Google's applied CS with Android course.
                        </div>
                        <br>
                    </div>
                    <div class="container"> <i style="font-size:40px" class="material-icons">group_work</i>
                        <br>
                        <h5>What do we do?</h5>
                        <br>
                        <div class="container" style="text-align: justify;font-size:16px  ">
                            <div class="devsite-landing-row-item devsite-landing-row-item-no-image">
                                <div class="devsite-landing-row-item-description
                                        ">
                                    <div class="devsite-landing-row-item-description-content">
                                        <p>Google collaborates with university students who are passionate about growing developer communities and supports them by starting student clubs on their respective campuses.
                                        </p>
                                        <p>These DSC's provide students with the opportunity to:</p>
                                        <ul>
                                            <li>Grow their knowledge on developer technologies and more through peer to peer workshops and events.</li>
                                            <li>Gain relevant industry experience by solving problems for local organizations with technology based solutions.</li>
                                            <li>Showcase their prototypes and solutions to their local community and various industry leaders.</li>
                                        </ul>
                                        <p>Google Developers supports and recognizes DSC's, but does not own or manage them.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="devsite-landing-row-item">
                                <div class="devsite-landing-row-item-media">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section id="event.html">
            <div class="jumbotron jumbotron-fluid" style="background: #eceff1">
                <div class="container-fluid">
                    <div style="clear:both;">

                        <center>
                            <h1 class="display-4" style="background:#198efc; margin-left: -15px; margin-right: -15px;padding-top: 40px; padding-bottom: 40px; font-size: 60px; font-weight:60; font-family: 'Open Sans', sans-serif;">
                                Upcoming Events</h1>
                        </center>

                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">

                    <% events.forEach(function(event) { %>

                        <div class="col-md-4 ">
                            <div class="card mb-4 box-shadow h-100 shadow-lg p-3 mb-5 bg-white rounded">
                                <div class="box"><img class="card-img-top img1 " src="<%= event.image.url %>" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h4>
                                        <%= event.name %>
                                    </h4>&nbsp;
                                    <h6>Date & Day:
                                        <%= event.date %>
                                    </h6>&nbsp;
                                    <h6>Venue:
                                        <%= event.venue %>
                                    </h6>&nbsp;
                                    <h6>Hosted By:
                                        <%= event.host %>
                                    </h6>&nbsp;
                                    <p class="card-text">
                                        <%= event.description %>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>

                </div>
        </section>
        <br />
        <section id="contactUs">
            <!--Section: Contact v.1-->
            <section class="section pb-5">

                <div class="jumbotron jumbotron-fluid" style="background: #eceff1">
                    <div class="container-fluid">
                        <div style="clear:both;">

                            <center>
                                <h1 class="display-4" style="background:#198efc; margin-left: -15px; margin-right: -15px;padding-top: 40px; padding-bottom: 40px; font-size: 60px; font-family: 'Open Sans', sans-serif;">
                                    Contact Us</h1>
                            </center>

                        </div>
                    </div>
                    <hr />
                </div>
                <div class="row" style="margin-left: 20px;margin-right: 20px">

                    <!--Grid column-->
                    <div class="col-lg-6 mb-4 ">
                        <div class="messages"></div>

                        <div class="controls">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_name">First Name *</label>
                                            <input id="form_name" type="text" name="name" class="form-control" placeholder="First Name" required="required" data-error="Firstname is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_lastname">Last Name *</label>
                                            <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Last Name" required="required" data-error="Lastname is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="form_email">E-mail *</label>
                                            <input id="form_email" type="email" name="email" class="form-control" placeholder="E-mail" required="required" data-error="Valid email is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_need">Who are you?</label>
                                            <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your need.">
                                                <option value="Student">Student</option>
                                                <option value="Faculty">Faculty</option>
                                                <option value="Sponsor">Sponsor</option>
                                                <option value="Industry Affiliate">Industry Affiliate</option>
                                                <option value="Other">Other</option>
                                            </select>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="form_message">Message *</label>
                                            <textarea id="form_message" name="message" class="form-control" placeholder="Your message" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" onclick="func()" class="btn btn-outline-secondary btn-send" value="Send message">Send Message</button>
                                    </div>
                                </div>

                        </div>
                        </form>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-6" style="border: 2px solid blue">

                        <!--Google map-->
                        <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 500px">
                            <iframe title="maps" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15548.411526646638!2d77.56652985!3d13.02911995!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1548941956313" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>

                        <br>
                        <!--Buttons-->

                    </div>
                    <!--Grid column-->

                </div>

                </div>
                <div class="container">
                    <center>
                        <h3><br>Developer Student Clubs, Ramaiah Institute of Technology</h3>
                    </center>
                    <center>
                        <a class="grey-text text-lighten-3 links" href="http://www.facebook.com/ " target="_blank"><img src="./images/facebook-square-brands.svg" height="40" width="40" alt="Facebook"></a>&nbsp;&nbsp;
                        <a class="grey-text text-lighten-3 links" href="mailto:dscrit@gmail.com" target="_blank"><img src="./images/envelope-solid.svg" height="40" width="40" alt="E-mail"></a>&nbsp;&nbsp;
                        <a class="grey-text text-lighten-3 links" href="https://github.com/piyush97/DSC-Website" target="_blank"><img src="./images/github-brands.svg" height="40" width="40" alt="Github"></a>&nbsp;&nbsp;
                    </center>
                </div>
                <footer class="page-footer font-small cyan darken-3">
                    <!-- Copyright -->
                    <div class="footer-copyright text-center py-3">
                        Copyright &copy; 2019
                        <br> Made with <i class="fa fa-heart"></i> by DSC-
                        <a href="http://www.msrit.edu/" style="color:#198efc">RIT</a>
                    </div>

                    <!-- Copyright -->

                </footer>

            </section>

        </section>
</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.0.min.js" integrity="sha256-8oQ1OnzE2X9v4gpRVRMb1DWHoPHJilbur1LP9ykQ9H0=" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js"></script>
<script src="contactresponse.js"></script>
<script type="text/javascript" src="typer.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">

<link rel="stylesheet" href="./css/web.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script>
    (function(){
                   emailjs.init("user_gDwvyaj8rQwUWbZoylkMM");
                })();
</script>
<script src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

</html>