<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./images/logo2.png" />
    <link rel="shortcut icon" type="image/png" href="./images/logo2.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">

    <link rel="stylesheet" href="./css/web.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">
    <style>
        .nav-pills .nav-link.active,
        .nav-pills .show>.nav-link {
            color: #fff;
            background-color: #f7c225;
        }
    </style>

    <!-- parallex effect -->

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50" style="background: #eceff1">

    <div id="navbar">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-0">
            <a class="hide-on-med-and-down" id="logo-container" href="#" target="_self" class="brand-logo">
                <img src="./images/DSC_badge_Color.svg" width="55px" height="60px" style="margin-right: 8px"></a>
            <a class="navbar-brand" href="#"><span style="color:#fcc719;font-size: 40px; font-weight: 70px">Developer
                    Student Club</span></a> &nbsp;
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" data-toggle="collapse" data-target=".navbar-collapse"
                id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto nav-pills">
                    <li class="nav-item">
                        <a class="nav-link hvr-fade py-2 px-3" href="#home" id="ishank" style="color:white">Home<span
                                class="sr-only">(current)</span></a>
                    </li> &nbsp;
                    <li class="nav-item active">
                        <a class="nav-link hvr-fade py-2 px-3" href="#aboutUs" style="color:white">About Us<span
                                class="sr-only">(current)</span></a>
                    </li> &nbsp;
                    <li class="nav-item active">
                        <a class="nav-link hvr-fade py-2 px-3 " href="/events" style="color:white">Events</a>
                    </li> &nbsp;
                    <!--  <li class="nav-item active">
              </li> &nbsp; -->
                    <!-- <a class="nav-link hvr-fade py-2 px-3 " href="blogs.html">Blogs</a> -->

                    <li class="nav-item active">
                        <a class="nav-link hvr-fade py-2 px-3 " style="color: white" href="/team">Team</a>
                    </li> &nbsp;
                    <li class="nav-item active">
                        <a class="nav-link hvr-fade py-2 px-3 " style="color: white " href="#contactUs">Contact Us</a>
                    </li>
            </div>
        </nav>
    </div>
    <div id="home">
        <div class="parallax">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="content">
                            <br><br>
                            <h1><span style="color:beige">DSC</span><span style="color:#fcc719"> RIT</span></h1>
                            <h3 style="color:beige">Student Internships | Projects | Hackathons | Makeathons | Contests
                                | Workshops</h3>
                            <hr><br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                    <img class="d-block w-100" src="./images/android3.png" alt="First slide">

                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                    <img class="d-block w-100" src="./images/fire-base-banner-1024x800.jpg" alt="Second slide">

                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                    <img class="d-block w-100" src="./images/google-analytics-consultants.jpg" alt="Second slide">

                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                    <img class="d-block w-100" src="./images/1_zrzslINjY8-SRPkmn1BQrA (1).jpeg" alt="Third slide">

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    </div>


    <section id="aboutUs">
        <div class=" -grey " id="second" class="section scrollspy"
            style="margin-bottom: 0; text-align: center; padding-top:40px;">
            <br>

            <div class="row" id="aboutus">
                <div class="container"> <i style="font-size:40px" class="material-icons">school</i>
                    <br>
                    <h5>About DSC</h5><br>
                    <div class="container" style="text-align: justify;font-size:16px">
                        Developer Student Clubs (DSC) is a Google Developers program for university students to learn
                        new-age technical skills. Developer Student Club, Ramaiah institute of technology was
                        founded in 2012 and since then our mission has been to impart people with required computer
                        science skills and be in sync with the latest technology and trends. As a part of DSC, we
                        organize various hackathons, workshops, tech-events round the year. DSC, Ramaiah Institute of
                        Technology has conducted around 50 workshops with 10+ hackathons till date. We were also
                        featured in Google's applied CS with Android course.
                    </div>
                </div>
                <div class="container"> <i style="font-size:40px" class="material-icons">group_work</i>
                    <br>
                    <h5>What we do?</h5><br>
                    <div class="container" style="text-align: justify;font-size:16px  ">
                        <div class="devsite-landing-row-item devsite-landing-row-item-no-image">
                            <div class="devsite-landing-row-item-description
                                        ">
                                <div class="devsite-landing-row-item-description-content">
                                    <p>Google collaborates with university students who are passionate about growing
                                        developer communities and supports them with starting student clubs on their
                                        campuses.</p>
                                    <p>These DSC's provide students with the opportunity to:</p>
                                    <ul>
                                        <li>Grow their knowledge on developer technologies and more through peer to
                                            peer workshops and events.</li>
                                        <li>Gain relevant industry experience by solving problems for local
                                            organizations with technology based solutions.</li>
                                        <li>Showcase their prototypes and solutions to their local community and
                                            industry leaders.</li>
                                    </ul>
                                    <p>Google Developers supports and recognizes DSC's, but does not own or manage
                                        them.</p>
                                </div>
                            </div>
                        </div>
                        <div class="devsite-landing-row-item">
                            <div class="devsite-landing-row-item-media">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="event.html">
        <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid">
                <div style="clear:both;">

                    <center>
                        <h1 class="display-4"
                            style="background:#fcc719; margin-left: -15px; margin-right: -15px;padding-top: 40px; padding-bottom: 40px; font-size: 60px; font-weight:60px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                            Upcoming Events</h1>
                    </center>

                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">


                <% events.forEach(function(event) { %>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow h-100">
                        <div class="box"><img class="card-img-top img1 " src="<%= event.image.url %>"
                                data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                                alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4><%= event.name %></h4>&nbsp;
                            <h6>Date & Day: <%= event.date %></h6>&nbsp;
                            <h6>Venue: <%= event.venue %></h6>&nbsp;
                            <h6>Hosted By: <%= event.host %></h6>&nbsp;
                            <p class="card-text"><%= event.description %></p>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>

            </div>
    </section><br />
    <section id="contactUs">
        <!--Section: Contact v.1-->
        <section class="section pb-5">

            <div class="jumbotron jumbotron-fluid">
                <div class="container-fluid">
                    <div style="clear:both;">

                        <center>
                            <h1 class="display-4"
                                style="background:#fcc719; margin-left: -15px; margin-right: -15px;padding-top: 40px; padding-bottom: 40px; font-size: 60px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                                Contact Us</h1>
                        </center>

                    </div>
                </div>
                <hr />
            </div>
            <div class="row" style="margin-left: 20px;margin-right: 20px">

                <!--Grid column-->
                <div class="col-lg-6 mb-4 ">
                    <form id="contact-form" method="post" action="contact.php" role="form">

                        <div class="messages"></div>

                        <div class="controls">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_name">First Name *</label>
                                        <input id="form_name" type="text" name="name" class="form-control"
                                            placeholder="First Name" required="required"
                                            data-error="Firstname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_lastname">Last Name *</label>
                                        <input id="form_lastname" type="text" name="surname" class="form-control"
                                            placeholder="Last Name" required="required"
                                            data-error="Lastname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_email">E-mail *</label>
                                        <input id="form_email" type="email" name="email" class="form-control"
                                            placeholder="E-mail" required="required"
                                            data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_need">Who are you?</label>
                                        <select id="form_need" name="need" class="form-control" required="required"
                                            data-error="Please specify your need.">
                                            <option value="Request order status">Student</option>
                                            <option value="Request quotation">Faculty</option>
                                            <option value="Request copy of an invoice">Sponsor</option>
                                            <option value="Other">Industry Affiliate</option>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_message">Message *</label>
                                        <textarea id="form_message" name="message" class="form-control"
                                            placeholder="Your message" rows="4" required="required"
                                            data-error="Please, leave us a message."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-outline-secondary btn-send"
                                        value="Send message">
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-6" style="border: 2px solid blue">

                    <!--Google map-->
                    <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 500px">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15548.411526646638!2d77.56652985!3d13.02911995!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1548941956313"
                            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>

                    <br>
                    <!--Buttons-->


                </div>
                <!--Grid column-->



            </div>

            </div>
            <div class="container">
                <center>
                    <h3><br>Developer Student Club, Ramaiah Institute of Technology</h3>
                </center>
                <center><a class="grey-text text-lighten-3 links" href="http://www.facebook.com/ " target="_blank"><img
                            src="./images/facebook-square-brands.svg" height="40" width="40"
                            alt="Not displaying"></a>&nbsp;&nbsp;
                    <a class="grey-text text-lighten-3 links" href="http://www.twitter.com/" target="_blank"><img
                            src="./images/twitter-square-brands.svg" height="40" width="40"
                            alt="Not displaying"></a>&nbsp;&nbsp;
                    <a class="grey-text text-lighten-3 links" href="http://www.linkedin.com/company/"
                        target="_blank"></i>&nbsp;<img src="./images/linkedin-brands.svg" height="40" width="40"
                            alt="Not displaying"></a>&nbsp;&nbsp;
                    <a class="grey-text text-lighten-3 links" href="mailto:dscrit@gmail.com" target="_blank">&nbsp;<img
                            src="./images/envelope-solid.svg" height="40" width="40" alt="Not displaying">&nbsp;&nbsp;
                        <a class="grey-text text-lighten-3 links" href="https://github.com/piyush97/DSC-Website"
                            target="_blank"></i>&nbsp;<img src="./images/github-brands.svg" height="40" width="40"
                                alt="Not displaying">&nbsp;&nbsp;</a>
                </center>
            </div>
            <footer class="page-footer font-small cyan darken-3">
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">2019 Copyright: Made with <i class="fa fa-heart"></i> by
                    DSC-<a href="http://www.msrit.edu/" style="color:#fcc719">RIT</a>
                </div>

                <!-- Copyright -->

            </footer>

        </section>
        <div class="parallax"></div>
    </section>


</body>

</html>